header {
   background-image: url(./worldBanner.jpg);
   height: 350px;
   width: 70%;
   background-repeat: no-repeat;
   margin-left: 50px;
}

header h1 {
   color: lightgray;
   font-size: 4rem;
   padding: 15px 0 0 120px;
}

input {
   font-size: 35px;
   margin-left: 300px;
}

#Fact {
   font-style: italic;
   font-size: 22px;
   padding-left: 100px;
}

#factDiv {
   padding-top: 30px;
   width: 700px;
   text-align: center;
}
